
html{
    font-size: 62.5%;
    /* background-color: #004346; */
    background-color: #000000;
}


h1{
    text-align: center;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8rem;
    padding-top: 80px;
    color: #EFF7CF;
}

.estudiante, .entrega{
    font-size: 3rem;
    text-align: right;
    padding-right: 80px;
    color: #EFF7CF;
    padding-top: 80px;
}
